@charset "UTF-8";
/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */
/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
/*-----------------------------------------------*\
     $STYLE GUIDE
\*-----------------------------------------------*/
/*-------------------------------------*\
               ICON FONTS
\*-------------------------------------*/
/*
 * Colors
 */
/*
 * Spacing Units
 */
/*------------------------------------*\
    $DEFAULTS
\*------------------------------------*/
/**
 * inuit.css’ default variables. Redefine these in your `_vars.scss` file (found
 * in the inuit.css-web-template) to override them.
 */
/*------------------------------------*\
    $DEBUG
\*------------------------------------*/
/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
/*------------------------------------*\
    $BORDER-BOX
\*------------------------------------*/
/**
 * Do you want all elements to adopt `box-sizing:border-box;` as per
 * paulirish.com/2012/box-sizing-border-box-ftw ?
 */
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/**
 * Base stuff
 */
/**
 * Base font-family.
 */
/**
 * Default colour for objects’ borders etc.
 */
/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/
/**
 * Responsiveness?
 */
/**
 * Responsiveness for widescreen/high resolution desktop monitors and beyond?
 * Note: `$responsive` variable above must be set to true before enabling this.
 */
/**
 * Responsive push and pull produce a LOT of code, only turn them on if you
 * definitely need them.
 */
/**
 * Note: `$push` variable above must be set to true before enabling these.
 */
/**
 * Note: `$pull` variable above must be set to true before enabling these.
 */
/**
 * Tell inuit.css when breakpoints start.
 */
/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/
/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
/*------------------------------------*\
    $QUOTES
\*------------------------------------*/
/**
 * English quote marks?
 */
/**
 * If you want English quotes then please do not edit these; they’re only here
 * because Sass needs them.
 */
/**
 * If you need non-English quotes, please alter the following values accordingly:
 */
/*------------------------------------*\
    $BRAND
\*------------------------------------*/
/**
 * Brand stuff
 */
/**
 * How big would you like round corners to be by default?
 */
/*------------------------------------*\
    $OBJECTS AND ABSTRACTIONS
\*------------------------------------*/
/**
 * Which objects and abstractions would you like to use?
 */
/*------------------------------------*\
    $FRAMEWORK
\*------------------------------------*/
/**
 * inuit.css will work these next ones out for use within the framework.
 *
 * Assign our `$base-line-height` to a new spacing var for more transparency.
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 */
/**
 * Convert basic px measurements into rem units
 */
/**
 * Style any number of headings in one fell swoop, e.g.:
 *
   .foo{
       @include headings(1, 3){
           color:#BADA55;
       }
    }
 *
 * With thanks to @lar_zzz, @paranoida and @rowanmanning for refining and
 * improving my initial mixin.
 */
/**/
/**
 * Create vendor-prefixed CSS in one go, e.g.
 *
   `@include vendor(border-radius, 4px);`
 *
 */
/**
 * Create CSS keyframe animations for all vendors in one go, e.g.:
 *
   .foo{
       @include vendor(animation, shrink 3s);
   }

   @include keyframe(shrink){
       from{
           font-size:5em;
       }
   }
 *
 * Courtesy of @integralist: twitter.com/integralist/status/260484115315437569
 */
/**
 * Force overly long spans of text to truncate, e.g.:
 *
   `@include truncate(100%);`
 *
 * Where `$truncation-boundary` is a united measurement.
 */
/**
 * CSS arrows!!! But... before you read on, you might want to grab a coffee...
 *
 * This mixin creates a CSS arrow on a given element. We can have the arrow
 * appear in one of 12 locations, thus:
 *
 *       01    02    03
 *    +------------------+
 * 12 |                  | 04
 *    |                  |
 * 11 |                  | 05
 *    |                  |
 * 10 |                  | 06
 *    +------------------+
 *       09    08    07
 *
 * You pass this position in along with a desired arrow color and optional
 * border color, for example:
 *
 * `@include arrow(top, left, red)`
 *
 * for just a single, red arrow, or:
 *
 * `@include arrow(bottom, center, red, black)`
 *
 * which will create a red triangle with a black border which sits at the bottom
 * center of the element. Call the mixin thus:
 *
   .foo{
       background-color:#BADA55;
       border:1px solid #ACE;
       @include arrow(top, left, #BADA55, #ACE);
   }
 *
 */
/**
 * Media query mixin.
 *
 * It’s not great practice to define solid breakpoints up-front, preferring to
 * modify your design when it needs it, rather than assuming you’ll want a
 * change at ‘mobile’. However, as inuit.css is required to take a hands off
 * approach to design decisions, this is the closest we can get to baked-in
 * responsiveness. It’s flexible enough to allow you to set your own breakpoints
 * but solid enough to be frameworkified.
 *
 * We define some broad breakpoints in our vars file that are picked up here
 * for use in a simple media query mixin. Our options are:
 *
 * palm
 * lap
 * lap-and-up
 * portable
 * desk
 * desk-wide
 *
 * Not using a media query will, naturally, serve styles to all devices.
 *
 * `@include media-query(palm){ [styles here] }`
 *
 * We work out your end points for you:
 */
/*------------------------------------*\
    $CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */
.cf:after, .nav:after, .payment_methods.methods:after, ul.woocommerce-error:after, .btn-list:after, .shop_table.cart .actions:after, .payment_methods.methods li:after {
  content: "";
  display: table;
  clear: both; }

/*------------------------------------*\
    $SHARED
\*------------------------------------*/
/**
 * Where `margin-bottom` is concerned, this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
/**
 * Base elements
 */
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dl,
blockquote, p, address,
table,
fieldset, figure,
pre,
.media,
.island,
.islet {
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }
  .islet h1, .islet h2, .islet h3, .islet h4, .islet h5, .islet h6, .islet hgroup, .islet
  ul, .islet ol, .islet dl, .islet
  blockquote, .islet p, .islet address, .islet
  table, .islet
  fieldset, .islet figure, .islet
  pre, .islet
  .media, .islet
  .island, .islet
  .islet {
    margin-bottom: 12px;
    margin-bottom: 0.75rem; }

/**
 * Doubled up `margin-bottom` helper class.
 */
.landmark {
  margin-bottom: 48px;
  margin-bottom: 3rem; }

/**
 * `hr` elements only take up a few pixels, so we need to give them special
 * treatment regarding vertical rhythm.
 */
hr {
  margin-top: -2px;
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once, here.
 */
ul, ol, dd {
  margin-left: 48px;
  margin-left: 3rem; }

/*------------------------------------*\
    $NAV
\*------------------------------------*/
/**
 * Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
 * When used on an `ol` or `ul`, this class throws the list into horizontal mode
 * e.g.:
 *
   <ul class=nav>
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 * Demo: jsfiddle.net/inuitcss/Vnph4
 *
 */
.nav, .payment_methods.methods, ul.woocommerce-error {
  list-style: none;
  margin-left: 0; }
  .nav > li, .payment_methods.methods > li, ul.woocommerce-error > li,
  .nav > li > a,
  .payment_methods.methods > li > a,
  ul.woocommerce-error > li > a {
    display: inline-block;
    *display: inline;
    zoom: 1; }

/**
 * `.nav--stacked` extends `.nav` and throws the list into vertical mode, e.g.:
 *
   <ul class="nav  nav--stacked">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
.nav--stacked > li, .payment_methods.methods > li, ul.woocommerce-error > li {
  display: list-item; }
  .nav--stacked > li > a, .payment_methods.methods > li > a, ul.woocommerce-error > li > a {
    display: block; }

/**
 * `.nav--banner` extends `.nav` and centres the list, e.g.:
 *
   <ul class="nav  nav--banner">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
.nav--banner {
  text-align: center; }

/**
 * Give nav links a big, blocky hit area. Extends `.nav`, e.g.:
 *
   <ul class="nav  nav--block">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
.nav--block {
  line-height: 1;
  /**
   * Remove whitespace caused by `inline-block`.
   */
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
  white-space: nowrap; }
  .nav--block > li {
    letter-spacing: normal;
    word-spacing: normal; }
    .nav--block > li > a {
      padding: 12px;
      padding: 0.75rem; }

/**
 * Force a nav to occupy 100% of the available width of its parent. Extends
 * `.nav`, e.g.:
 *
   <ul class="nav  nav--fit">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 * Thanks to @pimpl for this idea!
 */
.nav--fit {
  display: table;
  width: 100%; }
  .nav--fit > li {
    display: table-cell; }
    .nav--fit > li > a {
      display: block; }

/**
 * Make a list of keywords. Extends `.nav`, e.g.:
 *
   `<ul class="nav  nav--keywords>`
 *
 */
.nav--keywords > li:after {
  content: "\002C" "\00A0"; }
.nav--keywords > li:last-child:after {
  display: none; }

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn, #review_form_wrapper #submit, .woocommerce .button, .onsale {
  padding: 12px 36px;
  color: #a6a1a1;
  background: #1a1717;
  background: -moz-linear-gradient(#313131, #1e1e1e);
  background: -o-linear-gradient(#313131, #1e1e1e);
  background: -webkit-linear-gradient(#313131, #1e1e1e);
  background: linear-gradient(#313131, #1e1e1e);
  letter-spacing: .0625em;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.08143;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s; }
  .btn:hover, #review_form_wrapper #submit:hover, .woocommerce .button:hover, .onsale:hover {
    background: #2ecc71;
    background: -moz-linear-gradient(#2ecc71, #31d676);
    background: -o-linear-gradient(#2ecc71, #31d676);
    background: -webkit-linear-gradient(#2ecc71, #31d676);
    background: linear-gradient(#2ecc71, #31d676);
    color: white; }
  .btn.btn--beta, #review_form_wrapper .btn--beta#submit, .woocommerce .btn--beta.button, .btn--beta.onsale {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 2.68857; }
  .btn.btn--alpha, #review_form_wrapper .btn--alpha#submit, .woocommerce .btn--alpha.button, .btn--alpha.onsale {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 3.22429; }

.btn--primary, #review_form_wrapper #submit {
  background: #2ecc71;
  color: white; }
  .btn--primary:hover, #review_form_wrapper #submit:hover {
    background: #1a1717; }

.btn--secondary, .btn--tertiary, .woocommerce .button, .onsale {
  color: white; }

.btn--tertiary {
  background: #878787; }

.btn--transparent {
  background: transparent;
  border-width: 2px !important;
  border-style: solid;
  border-color: #fff; }

/*------------------------------------*\
    $SIZES
\*------------------------------------*/
.btn--small, .woocommerce .button, .onsale {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.16385;
  padding: 6px 24px; }
  .btn--small.btn--beta, .woocommerce .btn--beta.button, .btn--beta.onsale {
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 2.73727; }
  .btn--small.btn--alpha, .woocommerce .btn--alpha.button, .btn--alpha.onsale {
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 3.41909; }

.btn--large, .woocommerce .button.single_add_to_cart_button {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.08143;
  padding: 12px 36px; }
  .btn--large.btn--beta, .woocommerce .btn--beta.button.single_add_to_cart_button {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 3.76; }
  .btn--large.btn--alpha, .woocommerce .btn--alpha.button.single_add_to_cart_button {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 4.29571; }

.btn--huge {
  padding: 12px 24px;
  -moz-border-radius: 36px;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 3.01; }
  .btn--huge.btn--beta {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 3.76; }
  .btn--huge.btn--alpha {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 4.51; }

.btn-list {
  padding: 0;
  margin: 0 0 0 -2px;
  list-style: none; }
  .btn-list > .btn, #review_form_wrapper .btn-list > #submit, .woocommerce .btn-list > .button, .btn-list > .onsale, .btn-list > li, .btn-list > a {
    float: left;
    margin-left: 2px;
    margin-bottom: 2px; }

.mosaic__item.product {
  position: relative; }
  .mosaic__item.product:hover .add_to_cart_button, .touch .mosaic__item.product .add_to_cart_button {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }
    .mosaic__item.product:hover .add_to_cart_button:after, .touch .mosaic__item.product .add_to_cart_button:after {
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1;
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      -webkit-transform: translateX(0);
      transform: translateX(0); }
  .mosaic__item.product .add_to_cart_button {
    position: absolute;
    padding: 24px;
    left: 0;
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
    .mosaic__item.product .add_to_cart_button:after {
      content: "Add to cart";
      margin-left: 12px;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      -moz-transform: translateX(-25px);
      -ms-transform: translateX(-25px);
      -o-transform: translateX(-25px);
      -webkit-transform: translateX(-25px);
      transform: translateX(-25px);
      font-family: "Maven Pro", sans-serif;
      font-size: 12px;
      font-size: 0.75rem;
      line-height: 1.26;
      text-transform: uppercase;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    .mosaic__item.product .add_to_cart_button:hover:after {
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1;
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      -webkit-transform: translateX(0);
      transform: translateX(0); }
  .mosaic__item.product .added_to_cart {
    position: absolute;
    padding: 24px;
    right: 0;
    bottom: 0;
    font-family: "Maven Pro", sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1.26;
    text-transform: uppercase; }
  @media screen and (max-width: 480px) {
    .mosaic__item.product .add_to_cart_button, .mosaic__item.product .onsale {
      display: none; } }

.shop_table.cart a {
  border-bottom: none; }
.shop_table.cart tr:first-of-type {
  border-top: 0; }
.shop_table.cart .product-name {
  text-align: left; }
.shop_table.cart .product-quantity {
  text-align: center; }
.shop_table.cart .product-thumbnail {
  width: 100px; }
.shop_table.cart .coupon, .shop_table.cart .coupon input {
  float: left; }

.cart-submit-buttons {
  text-align: right; }
  @media only screen and (max-width: 899px) {
    .cart-submit-buttons input, .cart-submit-buttons a {
      width: 100%;
      float: none;
      text-align: center;
      margin-bottom: 12px; } }

.shipping-calculator-button {
  float: left; }

#ship-to-different-address label, #ship-to-different-address input, .form-row.create-account label, .form-row.create-account input {
  display: inline-block; }
#ship-to-different-address label, .form-row.create-account label {
  padding-left: 0;
  margin: 0 12px 0 0; }

.checkout_coupon {
  margin-top: 24px; }

.payment_methods.methods li {
  position: relative;
  padding-left: 24px; }
.payment_methods.methods input[type="radio"] {
  float: left;
  position: absolute;
  top: 6px;
  left: 0; }
.payment_methods.methods label {
  display: inline-block;
  margin-bottom: 12px; }
.payment_methods.methods .payment_box {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.08143; }

#order_review {
  margin-bottom: 24px; }

div.product .images {
  position: relative; }
  div.product .images a {
    border-bottom: 0; }
  div.product .images > a {
    display: block; }
    div.product .images > a img {
      width: 100%;
      height: auto; }
div.product .quantity {
  margin-bottom: 24px; }
div.product .price {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.67667; }
div.product ins .amount {
  font-weight: bold; }
div.product .product_meta {
  margin: 24px 0; }

.thumbnails {
  margin-top: 12px; }

.thumbnails a {
  margin-bottom: 12px;
  display: block; }

.thumbnails a img {
  max-width: 100%;
  height: auto; }

.entry-summary .cart {
  padding: 24px 0;
  border-top: 2px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf; }
  .entry-summary .cart .quantity-container {
    margin-bottom: 24px; }

.panel {
  border-bottom: 1px dotted #1a1717; }

.panel:first-child .panel__entry-content {
  display: block; }

.panel:last-child {
  border-bottom: 0; }

.panel__title {
  border-bottom: 0; }

.panel__entry-content {
  display: none; }
  .panel__entry-content h2 {
    display: none; }

#reviews .comment_container img {
  float: left;
  margin: 0 12px 12px 0; }

#review_form_wrapper {
  margin-top: 24px; }
  @media only screen and (max-width: 899px) {
    #review_form_wrapper .comment-form-author, #review_form_wrapper .comment-form-email {
      width: 100%; } }
  @media only screen and (min-width: 900px) {
    #review_form_wrapper .comment-form-author, #review_form_wrapper .comment-form-email {
      width: 50%; } }
  #review_form_wrapper #submit {
    border: 0; }

.comment-form-rating {
  padding-left: 24px; }

.comment-text {
  color: #1a1717; }

.related.products .mosaic-wrapper {
  margin: 0 -12px; }
@media only screen and (max-width: 899px) {
  .related.products .add_to_cart_button {
    display: none; } }

.woocommerce p.stars, .woocommerce-page p.stars {
  position: relative;
  font-size: 1em; }

.woocommerce p.stars a, .woocommerce-page p.stars a {
  display: inline-block;
  font-weight: 700;
  margin-right: 1em;
  text-indent: -9999px;
  position: relative;
  border-bottom: 0; }

.woocommerce p.stars a:last-child, .woocommerce-page p.stars a:last-child {
  border-right: 0; }

.woocommerce p.stars a.star-1, .woocommerce p.stars a.star-2, .woocommerce p.stars a.star-3, .woocommerce p.stars a.star-4, .woocommerce p.stars a.star-5, .woocommerce-page p.stars a.star-1, .woocommerce-page p.stars a.star-2, .woocommerce-page p.stars a.star-3, .woocommerce-page p.stars a.star-4, .woocommerce-page p.stars a.star-5 {
  border-right: 1px solid #ccc; }

.woocommerce p.stars a.star-1:after, .woocommerce p.stars a.star-2:after, .woocommerce p.stars a.star-3:after, .woocommerce p.stars a.star-4:after, .woocommerce p.stars a.star-5:after, .woocommerce-page p.stars a.star-1:after, .woocommerce-page p.stars a.star-2:after, .woocommerce-page p.stars a.star-3:after, .woocommerce-page p.stars a.star-4:after, .woocommerce-page p.stars a.star-5:after {
  font-family: WooCommerce;
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0; }

.woocommerce p.stars a.star-1, .woocommerce-page p.stars a.star-1 {
  width: 2em; }

.woocommerce p.stars a.star-1:after, .woocommerce-page p.stars a.star-1:after {
  content: "\e021"; }

.woocommerce p.stars a.star-1.active:after, .woocommerce p.stars a.star-1:hover:after, .woocommerce-page p.stars a.star-1.active:after, .woocommerce-page p.stars a.star-1:hover:after {
  content: "\e020"; }

.woocommerce p.stars a.star-2, .woocommerce-page p.stars a.star-2 {
  width: 3em; }

.woocommerce p.stars a.star-2:after, .woocommerce-page p.stars a.star-2:after {
  content: "\e021\e021"; }

.woocommerce p.stars a.star-2.active:after, .woocommerce p.stars a.star-2:hover:after, .woocommerce-page p.stars a.star-2.active:after, .woocommerce-page p.stars a.star-2:hover:after {
  content: "\e020\e020"; }

.woocommerce p.stars a.star-3, .woocommerce-page p.stars a.star-3 {
  width: 4em; }

.woocommerce p.stars a.star-3:after, .woocommerce-page p.stars a.star-3:after {
  content: "\e021\e021\e021"; }

.woocommerce p.stars a.star-3.active:after, .woocommerce p.stars a.star-3:hover:after, .woocommerce-page p.stars a.star-3.active:after, .woocommerce-page p.stars a.star-3:hover:after {
  content: "\e020\e020\e020"; }

.woocommerce p.stars a.star-4, .woocommerce-page p.stars a.star-4 {
  width: 5em; }

.woocommerce p.stars a.star-4:after, .woocommerce-page p.stars a.star-4:after {
  content: "\e021\e021\e021\e021"; }

.woocommerce p.stars a.star-4.active:after, .woocommerce p.stars a.star-4:hover:after, .woocommerce-page p.stars a.star-4.active:after, .woocommerce-page p.stars a.star-4:hover:after {
  content: "\e020\e020\e020\e020"; }

.woocommerce p.stars a.star-5, .woocommerce-page p.stars a.star-5 {
  width: 6em;
  border: 0; }

.woocommerce p.stars a.star-5:after, .woocommerce-page p.stars a.star-5:after {
  content: "\e021\e021\e021\e021\e021"; }

.woocommerce p.stars a.star-5.active:after, .woocommerce p.stars a.star-5:hover:after, .woocommerce-page p.stars a.star-5.active:after, .woocommerce-page p.stars a.star-5:hover:after {
  content: "\e020\e020\e020\e020\e020"; }

@font-face {
  font-family: 'WooCommerce';
  src: url("../fonts/woocommerce/WooCommerce.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/woocommerce/WooCommerce.eot?#iefix") format("embedded-opentype"), url("../fonts/woocommerce/WooCommerce.woff") format("woff"), url("../fonts/woocommerce/WooCommerce.ttf") format("truetype"), url("../fonts/woocommerce/WooCommerce.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
.woocommerce .button {
  border: none; }

.woocommerce-message {
  padding: 24px; }

.woocommerce-info {
  margin-bottom: 12px; }

.woocommerce-error {
  border: 1px solid red;
  padding: 24px; }

.woo__message-line {
  margin-bottom: 12px; }

.woo__message-line .pixcode--icon {
  margin-right: 24px; }

.quantity-container input {
  display: inline-block;
  height: 48px;
  border: 0;
  vertical-align: top; }
.quantity-container .qty {
  width: 100px;
  text-align: center;
  border: 1px solid #1a1717; }
.quantity-container .plus, .quantity-container .minus {
  padding: 0 12px;
  background: #bfbfbf;
  outline: none; }

.onsale {
  position: absolute;
  left: 12px;
  top: 12px;
  z-index: 1; }

.variation dd {
  margin-left: 0; }

.cart_totals input, .cart_totals label {
  display: inline-block; }

form.checkout {
  zoom: reset !important;
  position: relative !important; }
